.card__like-button {
  width: 21px;
  height: 18px;
  margin: 0;
  border: none;
  padding: 0;
  background-color: transparent;
  background-image: url(../../../images/like-inactive.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 21px 18px;
  transition: 0.3s;
  cursor: pointer;
}

.card__like-button:hover {
  opacity: 0.6;
}
