.popup__close {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  margin: 0;
  border: none;
  padding: 0;
  background-color: transparent;
  background-image: url(../../../images/close.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 32px 32px;
  transition:
    visibility 0s,
    opacity 0.3s;
  cursor: pointer;
}

.popup__close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 568px) {
  .popup__close {
    top: -37px;
    right: 0;
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
  }
}
