.card__delete-button {
  position: absolute;
  top: 18px;
  right: 15px;
  width: 18px;
  height: 18px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  transition: 0.3s;
  border: none;
  background: transparent url(../../../images/delete-icon.svg) no-repeat
    center / 18px;
}

.card__delete-button:hover {
  opacity: 0.6;
}
