.profile__add-button {
  width: 150px;
  height: 50px;
  margin-left: auto;
  cursor: pointer;
  transition: 0.3s;
  border: 2px solid #fff;
  border-radius: 2px;
  background: transparent url(../../../images/add-icon.svg) center no-repeat;
  background-size: 22px;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 740px) {
  .profile__add-button {
    width: 50px;
    height: 50px;
  }
}

@media screen and (max-width: 480px) {
  .profile__add-button {
    width: 100%;
  }
}
