.popup__content_content_image {
  display: flex;
  width: auto;
  max-width: 75vw;
  height: auto;
  max-height: 75vh;
  border-radius: 0;
  padding: 0;
  background: transparent;
  background-size: cover;
}
